.title-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(217, 217, 217, 0);
}
.title-image {
  width: 82px;
  height: 72px;
  object-fit: cover;
}
.title-text {
  color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgba(217, 217, 217, 0);
}
.title-root-class-name {
  margin-right: 50px;
}
.title-root-class-name1 {
  margin-right: 50px;
}
.title-root-class-name2 {
  margin-right: 50px;
}
.title-root-class-name3 {
  margin-right: 50px;
}
.title-root-class-name4 {
  margin-right: 50px;
}
.title-root-class-name5 {
  margin-right: 50px;
}
.title-root-class-name6 {
  margin-right: 50px;
}
.title-root-class-name7 {
  margin-right: 50px;
}
.title-root-class-name8 {
  margin-right: 50px;
}
.title-root-class-name9 {
  margin-right: 50px;
}
.title-root-class-name10 {
  margin-right: 50px;
}
.title-root-class-name11 {
  margin-right: 50px;
}
.title-root-class-name12 {
  margin-right: 50px;
}
.title-root-class-name13 {
  margin-right: 50px;
}
.title-root-class-name14 {
  margin-right: 50px;
}
.title-root-class-name15 {
  margin-right: 50px;
}
.title-root-class-name16 {
  margin-right: 50px;
}

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}





























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.search-bar-container {
  width: 302px;
  height: 24px;
  display: flex;
  align-items: space-between;
  flex-direction: row;
}
.search-bar-icon {
  fill: var(--dl-color-gray-black);
  width: 21px;
  height: 23px;
  align-self: stretch;
}
.search-bar-input {
  width: 272px;
  height: 23px;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 1rem;
}
.search-bar-root-class-name {
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
}
.search-bar-root-class-name1 {
  margin-left: 200px;
  margin-right: 0px;
}
.search-bar-root-class-name2 {
  margin-left: 200px;
  margin-right: 0px;
}
.search-bar-root-class-name3 {
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
}
.search-bar-root-class-name4 {
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
}
.search-bar-root-class-name5 {
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.search-bar-root-class-name6 {
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.search-bar-root-class-name7 {
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.search-bar-root-class-name8 {
  align-self: flex-start;
}

.dashboard-contact-g-p-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.dashboard-contact-g-p-header {
  width: 100%;
  height: 114px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.dashboard-contact-g-p-burger-menu {
  display: none;
}
.dashboard-contact-g-p-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dashboard-contact-g-p-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.dashboard-contact-g-p-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-contact-g-p-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.dashboard-contact-g-p-image {
  height: 2rem;
}
.dashboard-contact-g-p-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-contact-g-p-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dashboard-contact-g-p-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.dashboard-contact-g-p-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.dashboard-contact-g-p-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dashboard-contact-g-p-header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-contact-g-p-help {
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.dashboard-contact-g-p-help:hover {
  color: #ffffff;
  border-color: var(--dl-color-gray-500);
  background-color: var(--dl-color-gray-500);
}
.dashboard-contact-g-p-careers {
  transition: 0.3s;
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.dashboard-contact-g-p-careers:hover {
  color: #ffffff;
  border-color: var(--dl-color-gray-500);
  background-color: var(--dl-color-gray-500);
}
.dashboard-contact-g-p-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.dashboard-contact-g-p-about-us {
  width: 118px;
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.dashboard-contact-g-p-about-us:hover {
  color: #ffffff;
  border-color: var(--dl-color-gray-500);
  background-color: var(--dl-color-gray-500);
}
.dashboard-contact-g-p-contact-us {
  width: 131px;
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  border-color: var(--dl-color-gray-white);
  text-decoration: none;
}
.dashboard-contact-g-p-contact-us:hover {
  color: #ffffff;
  border-color: var(--dl-color-gray-500);
  background-color: var(--dl-color-gray-500);
}
.dashboard-contact-g-p-log-out {
  color: var(--dl-color-primary-300);
  width: 123px;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-sixunits);
  border-color: var(--dl-color-gray-700);
  text-decoration: none;
  background-color: #ffffff;
}
.dashboard-contact-g-p-log-out:hover {
  color: var(--dl-color-primary-300);
  border-color: var(--dl-color-primary-300);
  background-color: var(--dl-color-gray-900);
}
.dashboard-contact-g-p-text01 {
  border-radius: var(--dl-radius-radius-radius4);
}
.dashboard-contact-g-p-centre-page {
  height: 537px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/untitled-6-1500w.jpg");
}
.dashboard-contact-g-p-sidebar {
  width: 591px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0.45);
}
.dashboard-contact-g-p-container02 {
  width: 361px;
  height: 528px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-contact-g-p-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-contact-g-p-notification {
  width: 343px;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.dashboard-contact-g-p-notification:hover {
  background-color: rgba(243, 148, 10, 0.72);
}
.dashboard-contact-g-p-device-management {
  width: 343px;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.dashboard-contact-g-p-device-management:hover {
  background-color: rgba(243, 148, 10, 0.72);
}
.dashboard-contact-g-p-medical-reporting {
  width: 343px;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.dashboard-contact-g-p-medical-reporting:hover {
  background-color: rgba(243, 148, 10, 0.72);
}
.dashboard-contact-g-p-contact-g-p {
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(243, 148, 10, 0.72);
}
.dashboard-contact-g-p-profile {
  width: 100%;
  height: 161px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.dashboard-contact-g-p-image1 {
  width: 91px;
  height: 91px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
}
.dashboard-contact-g-p-container03 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-contact-g-p-text03 {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.dashboard-contact-g-p-navlink {
  color: var(--dl-color-gray-500);
  font-size: 1.5rem;
  text-decoration: none;
}
.dashboard-contact-g-p-middle-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: rgba(212, 208, 208, 0.89);
}
.dashboard-contact-g-p-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-contact-g-p-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-contact-g-p-container06 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-contact-g-p-text04 {
  font-size: 20px;
  margin-top: 400px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-contact-g-p-map-and-address {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-contact-g-p-iframe {
  width: 391px;
  height: 385px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-contact-g-p-website {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-contact-g-p-text11 {
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-contact-g-p-container07 {
  width: 380px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-contact-g-p-save {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
  transition: 0.3s;
  border-color: #1a91f7;
  margin-right: 220px;
  background-color: #1a91f7;
}
.dashboard-contact-g-p-save:hover {
  color: #1a91f7;
  background-color: transparent;
}
.dashboard-contact-g-p-delete {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
  transition: 0.3s;
  border-color: var(--dl-color-danger-500);
  background-color: var(--dl-color-danger-500);
}
.dashboard-contact-g-p-delete:hover {
  color: var(--dl-color-danger-500);
  background-color: transparent;
}
.dashboard-contact-g-p-footer {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-300);
}
.dashboard-contact-g-p-container08 {
  height: 85px;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-contact-g-p-disclaimer-info {
  width: 765px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-contact-g-p-icon10 {
  fill: #D9D9D9;
  width: 45px;
  height: 33px;
  align-self: stretch;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-right: 0px;
  margin-bottom: 0px;
}
.dashboard-contact-g-p-text13 {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  text-align: left;
  padding-right: var(--dl-space-space-twounits);
}
.dashboard-contact-g-p-text14 {
  font-weight: 700;
}
.dashboard-contact-g-p-socials {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-contact-g-p-icon12 {
  fill: #D9D9D9;
  width: 37px;
  height: 37px;
  margin-right: var(--dl-space-space-twounits);
}
.dashboard-contact-g-p-icon14 {
  fill: #D9D9D9;
  width: 37px;
  height: 37px;
  margin-right: var(--dl-space-space-twounits);
}
.dashboard-contact-g-p-icon16 {
  fill: #D9D9D9;
  width: 37px;
  height: 37px;
}
.dashboard-contact-g-p-separator {
  flex: 0 0 auto;
  height: 0px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-contact-g-p-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.dashboard-contact-g-p-navlink1 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.dashboard-contact-g-p-container09 {
  width: 313px;
  height: 44px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-contact-g-p-text17 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: 0px;
}
@media(max-width: 991px) {
  .dashboard-contact-g-p-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .dashboard-contact-g-p-image1 {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .dashboard-contact-g-p-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .dashboard-contact-g-p-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard-contact-g-p-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .dashboard-contact-g-p-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .dashboard-contact-g-p-container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .dashboard-contact-g-p-text17 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .dashboard-contact-g-p-header {
    padding: var(--dl-space-space-unit);
  }
  .dashboard-contact-g-p-mobile-menu {
    padding: 16px;
  }
  .dashboard-contact-g-p-footer {
    padding: var(--dl-space-space-unit);
  }
  .dashboard-contact-g-p-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .dashboard-contact-g-p-container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .dashboard-contact-g-p-text17 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
