.title-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(217, 217, 217, 0);
}
.title-image {
  width: 82px;
  height: 72px;
  object-fit: cover;
}
.title-text {
  color: var(--dl-color-gray-black);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgba(217, 217, 217, 0);
}
.title-root-class-name {
  margin-right: 50px;
}
.title-root-class-name1 {
  margin-right: 50px;
}
.title-root-class-name2 {
  margin-right: 50px;
}
.title-root-class-name3 {
  margin-right: 50px;
}
.title-root-class-name4 {
  margin-right: 50px;
}
.title-root-class-name5 {
  margin-right: 50px;
}
.title-root-class-name6 {
  margin-right: 50px;
}
.title-root-class-name7 {
  margin-right: 50px;
}
.title-root-class-name8 {
  margin-right: 50px;
}
.title-root-class-name9 {
  margin-right: 50px;
}
.title-root-class-name10 {
  margin-right: 50px;
}
.title-root-class-name11 {
  margin-right: 50px;
}
.title-root-class-name12 {
  margin-right: 50px;
}
.title-root-class-name13 {
  margin-right: 50px;
}
.title-root-class-name14 {
  margin-right: 50px;
}
.title-root-class-name15 {
  margin-right: 50px;
}
.title-root-class-name16 {
  margin-right: 50px;
}
